* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

$primary-color: #030422;
$secondary-color: #CECDCD;
$third-color: #7f94ea;
$accent-color: #A39E93;
$body-text-color: #fff;
$heading-font-family: 'Sellebou-Display', sans-serif;
$secon-heading-font-family: 'Rumble', sans-serif;
$body-font-family: 'Montserrat', sans-serif;
$base-font-size: 20px;
$base-font-weight: 400;
$heading-font-size: 70px;
$m-heading-font-size: 27px;
$mobile-heading-font-size: 22px;
$l-heading-font-size: 45px;
$heading-font-weight: 400;
$btn-font-weight: 600;
$body-font-size: 25px;
$l-body-font-size: 17px;
$mobile-body-font-size: 15px;
$mobile-menu-font-size: 13px;

