@use '../abstracts' as a;

body{
    .container3 {
        width: 100vw;
        height: 100vh;
        background: url(../images/ErrorpageBG.png) no-repeat, linear-gradient( a.$primary-color, a.$primary-color);
        // background-position: center;
        background-size: 70%;
        display: flex;
        align-items: center;
        // justify-content: center;
        justify-content: space-around;
        flex-direction: row;
        // position: relative;
    }

    .card {
        width: 100%;
        max-width: 1920px;
        min-width: 600px;
        height: 970px;
        color: #fff;
        // text-align: center;
        padding: 100px;
        margin-top: 0;
        border: 1px solid rgba(225, 225, 225,0.3);
        background: rgba(100, 100, 100, 0.1);
        // background: rgba(225, 225, 225,0.1);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0,0.1);
        backdrop-filter: blur(40px);
        flex-direction: row;
        justify-content: space-between;
        display: grid;
        // display: flex;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        position: relative;
    }
    
    
    #hero-error {
        max-width: 100%;
        // width: 50%;
        margin-left: 50px;
    }
}

@media screen and (max-width: 1200px) { 

	body{
        #hero-img1 {
            max-width: 70%;
        }
    }
	
}

@media screen and (max-width: 768px) { 

	body{
        #hero-img1 {
            max-width: 70%;
        }
    }
	
}

@media screen and (max-width: 375px) { 
    body{
        .container3 {
            width: 200%;
            // height: 100vh;
            height: 900px;
            background-size: 100%;
        }
        .card {
            width: 50%;
            height: 720px;
            padding: 30px;
            margin-top: 100px;
        }
    
        #hero-img1 {
            max-width: 20%;
        }
    }
	
}
